.bars {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 12px;
    right: 22px;
    cursor: pointer;
    z-index: 999;
    border-radius: 20%;
    background: #000;
    padding-block: 1.2rem;
    width: 2rem;
}


.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;

}

.barspan::before,
.barspan::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 4px;
    position: absolute;

}

.bars.active:hover {
    background: rgba(255, 255, 255, 0.397);
    backdrop-filter: blur(10px);
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.bars.active .bar {
    background-color: transparent;
}

.bars.active span::before {
    animation: top-bar 1s;
    animation-fill-mode: forwards;
    border-radius: 5px;
}

.bars.active span::after {
    animation: bottom-bar 1s;
    animation-fill-mode: forwards;
    border-radius: 5px;
}


#nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}

#nav span {
    color: #fff;
    text-decoration: none;
    line-height: 70vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: 50vw;
    border-radius: 50%;
    transition: all .5s;
}

#nav span:hover {
    background: #000;
}

.visible {
    z-index: 100 !important;
    opacity: 1 !important;
}

.shape-circle {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: -10vw;
    right: -10vw;
    position: absolute;
    transition: all 1s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav.visible li {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
    width: 200vw;
    height: 200vw;
    top: -100vw;
    right: -100vw;
    z-index: 5;
}

nav.visible li:nth-child(2) {
    width: 150vw;
    height: 150vw;
    top: -70vw;
    right: -70vw;
    z-index: 6;
}

nav.visible li:nth-child(3) {
    width: 100vw;
    height: 100vw;
    top: -40vw;
    right: -40vw;
    z-index: 7;
}

nav.visible li:nth-child(4) {
    width: 90vw;
    height: 90vw;
    top: -43vw;
    right: -43vw;
    z-index: 7;
}

nav.visible li:last-child {
    width: 50vw;
    height: 50vw;
    top: -20vw;
    right: -20vw;
    z-index: 8;
}

nav.visible li span {
    line-height: 310vw !important;
    text-indent: 19vw !important;
}

nav.visible li:nth-child(2) span {
    line-height: 230vw !important;
    text-indent: 14vw !important;
}

nav.visible li:nth-child(3) span {
    line-height: 155vw !important;
    text-indent: 12vw !important;
}

nav.visible li:nth-child(4) span {
    line-height: 145vw !important;
    text-indent: 13vw !important;
}

nav.visible li:last-child span {
    line-height: 82vw !important;
    text-indent: 10vw !important;
}


@keyframes top-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(45deg) translateY(0);
    }
}

@keyframes bottom-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(-45deg) translateY(0);
    }
}