
.Wheel {
    height: inherit;
    display: grid;
    place-items: center;
}

.WheelInner {
    position: relative;
}

.WheelImage {
    filter: drop-shadow(0px 0px 20px rgb(0, 251, 255));
}
.WheelImage:hover{
    filter: drop-shadow(0px 0px 30px rgb(183, 0, 255));
}

.WheelList {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: WheelListSpin 140s infinite linear;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
}

.WheelList:hover,
.WheelList:focus-within {
    animation-play-state: paused;
}

@keyframes WheelListSpin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.WheelItem {
    position: absolute;
    bottom: calc(50% - 3rem);
    left: 50%;
    transform-origin: center bottom;
    background-color: black;
    border-radius: 50%;
}

.WheelItem:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(4) {
    transform: translate(-50%, -50%) rotate(135deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(5) {
    transform: translate(-50%, -50%) rotate(180deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(6) {
    transform: translate(-50%, -50%) rotate(225deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(7) {
    transform: translate(-50%, -50%) rotate(270deg) translateY(12rem) rotate(170deg);
}

.WheelItem:nth-child(8) {
    transform: translate(-50%, -50%) rotate(315deg) translateY(12rem) rotate(170deg);
}

.WheelItemPivot {
    animation: WheelItemPivotSpin 140s infinite linear;
}

.WheelItemInner {
    animation: WheelItemInnerBoom 2s infinite;
}

@keyframes WheelItemPivotSpin {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes WheelItemInnerBoom {
    50% {
        transform: scale(1.05);
    }
}

.WheelLink {
    width: 5.5rem;
    position: relative;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.7);
    display: grid;
    padding: 0.25rem 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: background 200ms;
}

.WheelIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    transition: opacity 200ms, visibility 200ms, transform 200ms;
}

.WheelLink:hover .WheelIcon,
.WheelLink:focus .WheelIcon {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1.5);
}

