@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.specialFont {
    background: linear-gradient(to right,
            #b08bff 20%,
            #00affa 30%,
            #0190cd 70%,
            #c74ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    filter: drop-shadow(0 0px 4px rgb(61, 61, 61));
    font-size: 3rem;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.resume-btn {
    position: relative;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    z-index: 1;
}

.resume-btn:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.resume-btn:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}

.resume-btn:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}


body,
html {
    overflow-x: hidden;
    background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0;
}


@keyframes gradientbutton {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    margin-left: -4px;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid #00ddff;
    transition: transform 0.2s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow,
.grow-small {
    transform: scale(8);
    background: white;
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    transform: scale(4);
}



@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width:538px){
    .cursor{
        display: none;
    }
}